@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: #070431;
}
main {
  background: url("/assets/bg-explosion.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 870px) {
  .about-me {
    @apply flex-col items-center;
  }
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.title {
  flex: 1 1 auto;
  max-width: 40rem;
}
.image {
  flex: 0 0 auto;
}
.sidebar {
  @apply absolute top-20 z-[20] w-screen h-[48px];
}

.sidebar__col {
  @apply flex gap-5 pb-3 justify-center items-center h-full;
}

@media (min-width: 905px) {
  .sidebar {
    @apply fixed right-8 top-[40%] h-[200px] w-[48px] rounded-full bg-gray-500 bg-opacity-50;
  }
  .sidebar__col {
    @apply flex flex-col gap-5 pb-3 justify-center items-center h-full;
  }
}

.resume {
  @apply flex z-20 max-w-[15rem] h-[3rem] bg-slate-100/80 justify-center items-center rounded-lg uppercase cursor-pointer
  hover:bg-slate-100 hover:shadow-xl hover:shadow-violet-600;
}
.resume__link {
  @apply font-bold;
}
.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (max-width: 1125px) {
  .skills,
  .projects {
    grid-template-columns: auto;
    justify-items: center;
    align-content: center;
    margin-left: 2rem;
    gap: 5rem;
  }
  .skills__title,
  .projects__title {
    grid-column: 1 / span 3;
    padding: 0;
    margin-top: 8rem;
  }
  .swiper {
    grid-column: 1 / span 3;
  }
}

.swiper-pagination-bullet {
  background: #ffffff !important;
}
